*{margin: 0; padding: 0;}
body{
    /* perspective: 1000px; */
   /* background: url(https://cdn.discordapp.com/attachments/708215158606135306/762737575945175040/bakcg.png);*/
    font-family: 'Montserrat', sans-serif;
    background-size: 100%;
}
#container{
    width: 430px;
    height: 650px;
    border-radius: 5px;
    /* background: rgba(0, 0, 0, 0.5); */
    background: linear-gradient(90deg, rgb(32, 32, 32) 0%, rgba(89,89,89,1) 100%);
    position: absolute;
    left: 50px;
    top: 100px;
    /* transform: rotateY(11deg); */
}

#topo{
    width: 400px;
    height: 120px;
    float: left;
    text-align: center;
}

#topo img{
    width: 140px;
}

#menu{
    width: 55px;
    height: 75%;
    border-right: 1px solid #ffffff;
    float: left;
}

.menuType{
    width: 40px;
    height: 40px;
    margin-left: 4px;
    border-radius: 5px;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position:  center;
}
.menuType:hover{
    zoom: 1.1;
}

.ativada{
    zoom: 1.1;
    border: 1px solid #5811c9;
    box-shadow: 1px 1px 2px #5811c9;
}

#listagem{
    width: 350px;
    height: 500px;
    margin-left: 20px;
    float: left;
    overflow: auto;
}

.lista{
    width: 160px;
    height: 160px;
    background: #3d0c8b;
    margin: 5px;
    float: left;
    flex-wrap: wrap;
    display: flex;
    border-radius: 3px;
}
.lista:hover{
    opacity: 80%;
}

/* 
.lista:hover .idItem{
    background: #3d0c8b;
}

.lista:hover .valorItem{
    color: rgb(255, 255, 255);
    background: #3d0c8b;
} */

.activeItem{
    border: 1px solid #1e0349;
    margin: 3px;
}
.activeItem .idItem{
    background: #1e0349;
}
.activeItem .valorItem{
    color: rgb(255, 255, 255);
    background: #1e0349;
}


.activeLista {
    /*border: 1px solid #1c73ea;*/
}

.activeLista .idItem {
    background: #3d0c8b;
}

.activeLista .valorItem {
    background: #3d0c8b;
}

.idItem{
    width: 100%;
    height: 20px;
    background: #00000080;
    text-align: center;
    color: #fff;
    border-radius: 3px;
    justify-content: center;
    position: relative;
    top: 60px;
}

.valorItem{
    position: relative;
    left: 110px;
    width: 50px;
    height: 20px;
    font-size: 13px;
    color: #fff;
    font-weight: 900;
    border-radius: 0 0 0 5px;
    text-align: center;
    background: #00000080;
}

#menuEssencial{
    width: 100%;
    height: 50px;
    /* background: #00000080; */
    background: linear-gradient(90deg, rgb(32, 32, 32) 0%, rgba(89,89,89,1) 100%);
    border-radius: 5px;
    position: relative;
    top: 40px;
    float: left;
}

#menuEssencial img{
    width: 30px;
    float: left;
    margin: 10px;
}
#esquerda,#direita{
    width: 30px;
    height: 30px;
    float: left;
    text-align: center;
    font-weight: 900;
    line-height: 30px;
    color: #3d0c8b;
    background: #fff;

    border-radius: 50%;
    margin: 10px;
    margin-left: 0px;
}
#direita:hover, #esquerda:hover{
    /* background: #fff; */
    background: #3d0c8b;
    color: #fff;
}

#total{
    width: 200px;
    height: 35px;
    background: #fff;
    float: left;
    line-height: 35px;
    font-weight: 900;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    margin-top: 7.5px;
}
#totalEsquerda, #totalDireita{
    float: left;
}
#totalDireita{
    float: right;
    color: green;
}

#cart{
    width: 35px;
    float: left;
    height: 35px;
    margin: 10px;
    margin-left: 25px;
    background-image: url(https://cdn.discordapp.com/attachments/840446906173489173/879459338740199515/carts.png);
    background-size: 100% 100%;
    background-position: center;
}
#cart:hover{
    opacity: 70%;
}

#cores{
    display: none;
    width: 110px;
    height: 660px;
    position: absolute;
    transform: rotateY(11deg);
    left: 520px;
    top: 100px;
    /* background: #ff000080; */
    border-radius: 5px;
    background: linear-gradient(90deg, rgba(89,89,89,1) 0%, rgb(112, 112, 112) 100%);
}
#listaCores{
    width: 95px;
    height: 630px;
    overflow: auto;
    position: relative;
    left: 7px;
}
#cores h1{
    text-align: center;
    color: #fff;
    font-size: 20px;
}
#listaCores::-webkit-scrollbar{
    display: none;
}
::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #5811c9;
}


.cor{
    width: 100%;
    height: 9px;
    float: left;
}
.cor:hover{
    transform: scale(1.05);

}

#primaria, #secundaria{
    width: 45%;
    float: left;
    margin: 2.2%;
}

@media only screen and (max-width: 1921px) {
    body{
        zoom: 0.9;
    }
}

@media only screen and (max-width: 1600px) {
    body{
        zoom: 0.8;
    }
}
@media only screen and (max-width: 1280px) {
    body {
        zoom: 0.6;
    }
}


.tooltip{
    width: 220%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00000080;
    color: #fff;
    font-size: 10px;
    position: relative;
    right: 10px;
    bottom: 22px;
    visibility: hidden;
}

.menuType:hover .tooltip{
    visibility: visible;
}